.addUserModalBlock {
  @include flex;
  flex-direction: column;
  .inputFieldWrapper{
    margin-bottom: 50px;
  }
  .modal-content {
    h4 {
      margin-bottom: 25px;
    }
    .addUserInputBlock {
      @include flex;
      flex-direction: column;
      .modalBtnBlock {
        @include flex(flex-end, center);
        flex-direction: column;
        div {
          width: 220px;
          @include flex(space-between, center);
          button {
            width: 100px;
          }
        }
      }
    }
    
  }
}



